*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg,#f5af19, #f12711); /*color of background of main*/
    min-height: 100vh; /* Minimum height of the main block */
    display: flex;
    flex-direction: column;
    /* background: #1a2a6c; color of background of main */
}

.card {
    width: 90%; 
    max-width: 470px; 
    background: linear-gradient(135deg, #00feba, #5b548a); /*color of card*/
    color: #fff; /*color of text*/
    margin: 64px auto 0; /* Top padding in pixels */
    border-radius: 30px; /* Rounding */
    padding: 40px 35px; /* Margins top/bottom, left/right */
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    border: 0; /* Removes the border from the input field */
    outline: 0; /* Disables contour when focusing */
    background: #ebfffc; /* main color of input button */
    color: #555; /* color of text in the input*/
    margin-right: 16px; /* Indent from search image */
    border-radius: 30px; /* Rounding */
    padding: 10px 25px; /* Margins top/bottom, left/right */
    height: 60px; /* Height of the input field */
    flex: 1; /* Causes the input field to stretch to take up the available space in the parent flex container*/
    font-size: 18px; /* Size of the text */
}
.search button {
    border: 0; 
    outline: 0;
    background: #ebfffc; /* main color of search icon */
    border-radius: 50%; /* Rounding */
    width: 60px; /* Width of the search icon */
    height: 60px; /* Height of the search icon */
    cursor: pointer; /* Cursor type */
}
.search button img {
    width: 20px; /* Width of the search image */
}

.weather {
    display: none;
}
.weather-icon {
    width: 170px; 
    margin-top: 30px;
}
.weather h1 {
    font-size: 80px;
    font-weight: 500;
}
.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px; /* Width of icons */
    margin-right: 10px; /* Indent from the text */
}
.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}